In [1]:
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df = pd.read_csv("newdata.csv")
df

   area  rooms   age  price
0  5000    2.0   5.0  30000
1  2500    5.0  15.0  20000
2  5000    NaN  25.0  15000
3  8700    2.0  10.0  44000
4  2650    4.0   NaN  24000
5  1120    3.0  17.0  10000
6  2500    NaN   5.0  25000

In [3]:
medroom = math.floor(df.rooms.median())
medage = math.floor(df.age.median())

In [4]:
df.rooms = df.rooms.fillna(medroom)
df.age = df.age.fillna(medage)
df

   area  rooms   age  price
0  5000    2.0   5.0  30000
1  2500    5.0  15.0  20000
2  5000    3.0  25.0  15000
3  8700    2.0  10.0  44000
4  2650    4.0  12.0  24000
5  1120    3.0  17.0  10000
6  2500    3.0   5.0  25000

In [5]:
x = df[["area","rooms","age"]]
y = df["price"]

In [6]:
reg = linear_model.LinearRegression()
reg.fit(x,y)

LinearRegression()

In [7]:
reg.predict([[30000,10,3]])

c:\Users\DELL\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([154373.50475135])

In [8]:
reg.predict([[5000,2,5]])

c:\Users\DELL\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([32343.61888764])

In [9]:
reg.score(x,y)

0.9748807372487382